## Imports

In [1]:
import os, glob

import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

## Load Data

In [2]:
# Merge .csv files
joined_files = os.path.join('/Users/kevinbarnett/Documents/CodingDojo/Project 4 Crime Data/Data/Chicago','Chicago-Crime*.csv')
print(joined_files)

# Return list of all joined files
joined_list = glob.glob(joined_files)
print(joined_list)

# # Concatenate dataframe
df = pd.concat(map(pd.read_csv, joined_list), ignore_index=True)

/Users/kevinbarnett/Documents/CodingDojo/Project 4 Crime Data/Data/Chicago/Chicago-Crime*.csv
['/Users/kevinbarnett/Documents/CodingDojo/Project 4 Crime Data/Data/Chicago/Chicago-Crime_2019.csv', '/Users/kevinbarnett/Documents/CodingDojo/Project 4 Crime Data/Data/Chicago/Chicago-Crime_2018.csv', '/Users/kevinbarnett/Documents/CodingDojo/Project 4 Crime Data/Data/Chicago/Chicago-Crime_2008.csv', '/Users/kevinbarnett/Documents/CodingDojo/Project 4 Crime Data/Data/Chicago/Chicago-Crime_2020.csv', '/Users/kevinbarnett/Documents/CodingDojo/Project 4 Crime Data/Data/Chicago/Chicago-Crime_2021.csv', '/Users/kevinbarnett/Documents/CodingDojo/Project 4 Crime Data/Data/Chicago/Chicago-Crime_2009.csv', '/Users/kevinbarnett/Documents/CodingDojo/Project 4 Crime Data/Data/Chicago/Chicago-Crime_2023.csv', '/Users/kevinbarnett/Documents/CodingDojo/Project 4 Crime Data/Data/Chicago/Chicago-Crime_2022.csv', '/Users/kevinbarnett/Documents/CodingDojo/Project 4 Crime Data/Data/Chicago/Chicago-Crime_2007.csv', '/Users/kevinbarnett/Documents/CodingDojo/Project 4 Crime Data/Data/Chicago/Chicago-Crime_2013.csv', '/Users/kevinbarnett/Documents/CodingDojo/Project 4 Crime Data/Data/Chicago/Chicago-Crime_2012.csv', '/Users/kevinbarnett/Documents/CodingDojo/Project 4 Crime Data/Data/Chicago/Chicago-Crime_2006.csv', '/Users/kevinbarnett/Documents/CodingDojo/Project 4 Crime Data/Data/Chicago/Chicago-Crime_2010.csv', '/Users/kevinbarnett/Documents/CodingDojo/Project 4 Crime Data/Data/Chicago/Chicago-Crime_2004.csv', '/Users/kevinbarnett/Documents/CodingDojo/Project 4 Crime Data/Data/Chicago/Chicago-Crime_2005.csv', '/Users/kevinbarnett/Documents/CodingDojo/Project 4 Crime Data/Data/Chicago/Chicago-Crime_2011.csv', '/Users/kevinbarnett/Documents/CodingDojo/Project 4 Crime Data/Data/Chicago/Chicago-Crime_2015.csv', '/Users/kevinbarnett/Documents/CodingDojo/Project 4 Crime Data/Data/Chicago/Chicago-Crime_2001.csv', '/Users/kevinbarnett/Documents/CodingDojo/Project 4 Crime Data/Data/Chicago/Chicago-Crime_2014.csv', '/Users/kevinbarnett/Documents/CodingDojo/Project 4 Crime Data/Data/Chicago/Chicago-Crime_2002.csv', '/Users/kevinbarnett/Documents/CodingDojo/Project 4 Crime Data/Data/Chicago/Chicago-Crime_2016.csv', '/Users/kevinbarnett/Documents/CodingDojo/Project 4 Crime Data/Data/Chicago/Chicago-Crime_2017.csv', '/Users/kevinbarnett/Documents/CodingDojo/Project 4 Crime Data/Data/Chicago/Chicago-Crime_2003.csv']

In [3]:
# Confirm data loaded correctly
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7819943 entries, 0 to 7819942
Data columns (total 12 columns):
 #   Column                Dtype
---  ------                -----
 0   ID                    int64
 1   Date                  object
 2   Primary Type          object
 3   Description           object
 4   Location Description  object
 5   Arrest                bool
 6   Domestic              bool
 7   Beat                  int64
 8   District              float64
 9   Ward                  float64
 10  Latitude              float64
 11  Longitude             float64
dtypes: bool(2), float64(4), int64(2), object(4)
memory usage: 611.5+ MB

,ID,Date,Primary Type,Description,Location Description,Arrest,Domestic,Beat,District,Ward,Latitude,Longitude
0,11554161,01/01/2019 01:00:00 AM,THEFT,FROM BUILDING,BAR OR TAVERN,False,False,1812,18.0,43.0,41.922751,-87.644994
1,12172257,01/01/2019 01:00:00 PM,DECEPTIVE PRACTICE,COUNTERFEITING DOCUMENT,RESIDENCE,False,False,1614,16.0,41.0,41.974061,-87.845200
2,11553582,01/01/2019 01:00:00 AM,THEFT,OVER $500,APARTMENT,False,True,1923,19.0,46.0,41.949460,-87.651974
3,11574022,01/01/2019 01:00:00 AM,CRIM SEXUAL ASSAULT,NON-AGGRAVATED,RESIDENCE,False,False,1834,18.0,42.0,41.892659,-87.616600
4,11562299,01/01/2019 01:00:00 PM,DECEPTIVE PRACTICE,"THEFT BY LESSEE,MOTOR VEH",OTHER,False,False,1932,19.0,43.0,41.925284,-87.658967

In [4]:
# Make column names lowercase
df.columns = df.columns.str.lower()

In [5]:
df['id'].value_counts().sum()

# Remove 'id' column
df = df.drop(columns='id')
df.head()

,date,primary type,description,location description,arrest,domestic,beat,district,ward,latitude,longitude
0,01/01/2019 01:00:00 AM,THEFT,FROM BUILDING,BAR OR TAVERN,False,False,1812,18.0,43.0,41.922751,-87.644994
1,01/01/2019 01:00:00 PM,DECEPTIVE PRACTICE,COUNTERFEITING DOCUMENT,RESIDENCE,False,False,1614,16.0,41.0,41.974061,-87.845200
2,01/01/2019 01:00:00 AM,THEFT,OVER $500,APARTMENT,False,True,1923,19.0,46.0,41.949460,-87.651974
3,01/01/2019 01:00:00 AM,CRIM SEXUAL ASSAULT,NON-AGGRAVATED,RESIDENCE,False,False,1834,18.0,42.0,41.892659,-87.616600
4,01/01/2019 01:00:00 PM,DECEPTIVE PRACTICE,"THEFT BY LESSEE,MOTOR VEH",OTHER,False,False,1932,19.0,43.0,41.925284,-87.658967

## Prepare Data for Time Series Analysis

In [6]:
# Create copy of original dataframe
df_ts = df.copy()

In [7]:
# Convert 'date' column to datetime dtype
df_ts['date'] = pd.to_datetime(df['date']).dt.time
df_ts.info()
df_ts.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7819943 entries, 0 to 7819942
Data columns (total 11 columns):
 #   Column                Dtype
---  ------                -----
 0   date                  object
 1   primary type          object
 2   description           object
 3   location description  object
 4   arrest                bool
 5   domestic              bool
 6   beat                  int64
 7   district              float64
 8   ward                  float64
 9   latitude              float64
 10  longitude             float64
dtypes: bool(2), float64(4), int64(1), object(4)
memory usage: 551.9+ MB

,date,primary type,description,location description,arrest,domestic,beat,district,ward,latitude,longitude
0,01:00:00,THEFT,FROM BUILDING,BAR OR TAVERN,False,False,1812,18.0,43.0,41.922751,-87.644994
1,13:00:00,DECEPTIVE PRACTICE,COUNTERFEITING DOCUMENT,RESIDENCE,False,False,1614,16.0,41.0,41.974061,-87.845200
2,01:00:00,THEFT,OVER $500,APARTMENT,False,True,1923,19.0,46.0,41.949460,-87.651974
3,01:00:00,CRIM SEXUAL ASSAULT,NON-AGGRAVATED,RESIDENCE,False,False,1834,18.0,42.0,41.892659,-87.616600
4,13:00:00,DECEPTIVE PRACTICE,"THEFT BY LESSEE,MOTOR VEH",OTHER,False,False,1932,19.0,43.0,41.925284,-87.658967

In [8]:
df_ts['date'] = pd.to_datetime(df['date'])

In [9]:
df_ts.dtypes

date                    datetime64[ns]
primary type                    object
description                     object
location description            object
arrest                            bool
domestic                          bool
beat                             int64
district                       float64
ward                           float64
latitude                       float64
longitude                      float64
dtype: object

In [10]:
# Set 'date' column as index
df_ts = df_ts.set_index('date')
df_ts.head()

,primary type,description,location description,arrest,domestic,beat,district,ward,latitude,longitude
date,,,,,,,,,,
2019-01-01 01:00:00,THEFT,FROM BUILDING,BAR OR TAVERN,False,False,1812,18.0,43.0,41.922751,-87.644994
2019-01-01 13:00:00,DECEPTIVE PRACTICE,COUNTERFEITING DOCUMENT,RESIDENCE,False,False,1614,16.0,41.0,41.974061,-87.845200
2019-01-01 01:00:00,THEFT,OVER $500,APARTMENT,False,True,1923,19.0,46.0,41.949460,-87.651974
2019-01-01 01:00:00,CRIM SEXUAL ASSAULT,NON-AGGRAVATED,RESIDENCE,False,False,1834,18.0,42.0,41.892659,-87.616600
2019-01-01 13:00:00,DECEPTIVE PRACTICE,"THEFT BY LESSEE,MOTOR VEH",OTHER,False,False,1932,19.0,43.0,41.925284,-87.658967

In [11]:
# Check for missing values
df_ts.isna().sum()

primary type                 0
description                  0
location description     10609
arrest                       0
domestic                     0
beat                         0
district                    47
ward                    614848
latitude                 87672
longitude                87672
dtype: int64

In [12]:
df_ts['location description'].value_counts()

STREET                   2036937
RESIDENCE                1310234
APARTMENT                 885985
SIDEWALK                  730602
OTHER                     270018
                          ...
POOLROOM                       1
EXPRESSWAY EMBANKMENT          1
CLEANERS/LAUNDROMAT            1
LAGOON                         1
TRUCKING TERMINAL              1
Name: location description, Length: 216, dtype: int64

In [35]:
# Creating a list of dataframe columns
columns = list(df_ts)

# For loop to iterate over column and pull value counts
for col in columns:
    if df_ts[col].dtypes == 'object' or 'bool': 
        print('Column: ',col)
        print (df_ts[col].value_counts(),'\n')
    if df_ts[col].dtypes == 'int64' or 'float64':
        pass

Column:  primary type
THEFT                                1649683
BATTERY                              1429194
CRIMINAL DAMAGE                       891283
NARCOTICS                             748277
ASSAULT                               510463
OTHER OFFENSE                         485627
BURGLARY                              425402
MOTOR VEHICLE THEFT                   379255
DECEPTIVE PRACTICE                    347433
ROBBERY                               293539
CRIMINAL TRESPASS                     214924
WEAPONS VIOLATION                     107650
PROSTITUTION                           69857
OFFENSE INVOLVING CHILDREN             56031
PUBLIC PEACE VIOLATION                 52454
SEX OFFENSE                            30885
CRIM SEXUAL ASSAULT                    27611
INTERFERENCE WITH PUBLIC OFFICER       18464
LIQUOR LAW VIOLATION                   14934
GAMBLING                               14619
ARSON                                  13335
HOMICIDE                               12651
KIDNAPPING                              7240
CRIMINAL SEXUAL ASSAULT                 6935
STALKING                                4854
INTIMIDATION                            4719
CONCEALED CARRY LICENSE VIOLATION       1096
OBSCENITY                                826
PUBLIC INDECENCY                         196
NON-CRIMINAL                             183
OTHER NARCOTIC VIOLATION                 149
HUMAN TRAFFICKING                        102
NON - CRIMINAL                            38
RITUALISM                                 24
NON-CRIMINAL (SUBJECT SPECIFIED)           9
DOMESTIC VIOLENCE                          1
Name: primary type, dtype: int64

Column:  description
SIMPLE                                              917730
$500 AND UNDER                                      633400
DOMESTIC BATTERY SIMPLE                             611338
TO VEHICLE                                          434971
OVER $500                                           417466
                                                     ...
DELIVER CONTROLLED SUBSTANCES TO PERSON UNDER 18         1
DISCLOSE DOMESTIC VIOLENCE VICTIM LOCATION               1
POSSESS - HYPODERMIC NEEDLE                              1
SECOND DEGREE MURDER                                     1
THEFT RETAIL                                             1
Name: description, Length: 546, dtype: int64

Column:  location description
STREET                   2036937
RESIDENCE                1310234
APARTMENT                 885985
SIDEWALK                  730602
OTHER                     270018
                          ...
POOLROOM                       1
EXPRESSWAY EMBANKMENT          1
CLEANERS/LAUNDROMAT            1
LAGOON                         1
TRUCKING TERMINAL              1
Name: location description, Length: 216, dtype: int64

Column:  arrest
False    5780866
True     2039077
Name: arrest, dtype: int64

Column:  domestic
False    6737427
True     1082516
Name: domestic, dtype: int64

Column:  beat
421     60912
423     60351
1834    55906
624     54981
511     53643
        ...
1652     1378
1655     1304
430        19
1650       18
310         5
Name: beat, Length: 305, dtype: int64

Column:  district
8.0     525386
11.0    501665
6.0     457334
7.0     451929
25.0    444865
4.0     443914
3.0     396573
12.0    387717
9.0     381976
2.0     370332
19.0    351107
18.0    350983
5.0     346463
10.0    336890
15.0    334952
1.0     316512
14.0    302489
16.0    261844
22.0    256307
24.0    236332
17.0    225729
20.0    138350
31.0       243
21.0         4
Name: district, dtype: int64

Column:  ward
28.0    330406
42.0    299656
24.0    283047
27.0    271470
2.0     255545
6.0     238555
17.0    238304
20.0    236400
3.0     219604
21.0    218358
16.0    207145
34.0    201883
8.0     199115
7.0     195719
37.0    194784
9.0     186899
15.0    185973
5.0     172660
29.0    167563
4.0     144265
1.0     137704
10.0    122680
26.0    122257
18.0    118789
32.0    118761
25.0    105060
49.0    103485
44.0    100525
31.0     98772
11.0     97925
30.0     97894
46.0     97116
14.0     96851
35.0     94077
23.0     91582
43.0     90131
13.0     88452
12.0     87891
22.0     84165
41.0     76490
36.0     76320
40.0     76304
38.0     75018
47.0     74874
50.0     74486
45.0     73821
48.0     73090
33.0     71613
39.0     67661
19.0     63950
Name: ward, dtype: int64

Column:  latitude
41.976290    14307
41.754593    10322
41.883500     8454
41.897895     4867
41.909664     3489
             ...
41.918656        1
41.708299        1
41.998576        1
41.746342        1
41.970297        1
Name: latitude, Length: 890536, dtype: int64

Column:  longitude
-87.905227    14307
-87.741529    10322
-87.627877     8454
-87.624097     4872
-87.742729     3489
              ...
-87.670323        1
-87.616535        1
-87.634766        1
-87.641665        1
-87.705385        1
Name: longitude, Length: 889945, dtype: int64